@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
	height: 100vh;
	margin:0;
	padding: 0;
	background-image:url(fond.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	max-width:2000px;
	min-width: 600px;
	box-sizing: border-box;
	overflow-x: hidden;
	perspective: 2px;
	font-family: Source Sans Pro;
	color: white;

}
html{
	scroll-behavior: smooth;
}

#etud{

	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Source Sans Pro;
	padding-bottom: 20vh;
}
#welcome{
	padding-top: 5%;
	text-align: center;
	font-size: 40px;
	font-family: Source Sans Pro;
	color: white;

	}
#titre{
	text-align: center;
	font-size: 140px;
	font-family: 'Shadows Into Light', cursive;
	color: white;
	margin: 0;
}

#accueil {
	height: 80vh;
	
}
nav{
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
    margin: 0 auto;
    top: 0px;
    background-image: url(fond.png);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1000;




}
nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 20%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/


}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}	

nav a{
	
	font-family: Source Sans Pro;
	font-size: 25px;
	color: white;
	margin-right: 15px;
	display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/

}
nav a:hover{
	font-size: 30px;
	border-bottom: 2px solid white;
	transition: 0.2s;
}

h2{
	/*padding-top: 10%;*/
	text-align: center;
	font-size: 50px;
	font-family: Source Sans Pro;
	color: white;
	font-weight: normal;
	border-bottom: 2px solid white;
	margin-right: 20%;
	margin-left: 20%;
}
#CV {
	padding-top: 30px;
	height: 100vh;
}




#CV > h3{
	text-align: center;
	font-size: 50px;
	font-family: Source Sans Pro;
	color: #ffd152; /*linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
	font-weight: normal;

}
.conteneur{
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;

}
.conteneur:before, .conteneur:after {
    content:"";
    display:table;
    clear: both;
}
.conteneur>div {
	width: 32%;
	float: left;
	height: 40vh;


    
}
#moi {
	border-right: 2px solid white;
	text-align: center;
	max-height: 50vh;

}
#moi > p {
	color: white;
	font-size: 16px;
	padding-left: 10%;
	padding-right: 20px;
	line-height: 20px;
	font-family: Source Sans Pro;
	text-align: justify;
	


}
#moi a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

#moi a:hover{
	color: white;
}
#photo{
	text-align: center;
	border-left: 2px solid white;
	width: 31%;
	


}
#photo> img {
	width: 65%;
	border-radius: 15px;

}
/* Barre de compétances*/

.container{
  width: 100%;
  text-align: center;
  background-color: rgba(202, 207, 210, 0.7);
  border-radius: 30px;
  padding: 20px;

  margin-left: 15px;
  margin-right: 15px;

 
 
}
@keyframes load{
  from {
    width: 0%
  }
}

.skillbar{
	text-align: center;

	
}
.bar{
  text-align: left;
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 4s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

/* FIN Barre de compétances*/

#PPP {
	padding-top: 30px;
	height: 100vh;


}

#conteneurPPP{
	float: left;
	width: 100%;
	padding-top: 50px;
	

}

#conteneurPPP >div{
	width: 50%;
	float: left;
	text-align: center;

	

}
#conteneurPPP #why>p{
	
	text-align: justify;
	font-size: 16px;
	margin-left: 10%;
	margin-right: 15px;
	


}
#passion{
	margin-top: 50px;
	background-color: rgba(202, 207, 210, 0.7);
	line-height: 24px;
  	border-radius: 30px;
  	padding: 20px;
  	margin-right: 20px;
  	font-weight: bold;
 
}
#conteneurPPP #PP>p{
	text-align: justify;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 10%;
}
#projet{
	font-weight: bold;
	background-color: rgba(202, 207, 210, 0.7);
	line-height: 24px;
  	border-radius: 30px;
  	padding: 20px;
  	margin-left: 20px;
  	margin-bottom: 50px;
}
#interet {
	padding-top: 30px;
	height: 100vh;

}


.conteneurbox {
  display: flex;
  width: 80%;
  padding: 2% 5%;
  box-sizing: border-box;
  height: 65vh;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: rgba(202, 207, 210, 0.7);
  border-radius: 30px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;
}

.box  img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
  border-radius: 20px;
}

.box  span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover  img {
  width: 100%;
  height: 100%;
}
#contact{
	padding-top: 30px;
	height: 100vh;
	padding-bottom: 5%;

}

form {
	text-align: center;
    width: 60%;
    margin-left: auto;
    padding: 2% 3%;
    margin-right: auto;
    background-color: rgba(202, 207, 210, 0.7);
  	border-radius: 30px;



}

textarea, input
{
	font-family: Source Sans Pro;
	width: 100%;
	margin-top: 20px;
	line-height: 1.5;
	border-radius: 5px;
	border: 3px solid #ffd152;
	box-shadow: 1px 1px 1px #999;
	background-color: transparent;
	font-weight: 500;
    font-size: 18px;
    color: white;
}
 input::placeholder {
    color: white;
    opacity: 0.7;
}
input:placeholder-shown {
    border: 3px solid #ffd152;
}
textarea::placeholder{
	color: white;
    opacity: 0.7;
}
button {
	width: 40%;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border: transparent;
    font-size: 15px;
    font-family: Source Sans Pro;
}

/* Réseaux sociaux*/
#RS {
	padding-left: 40%;
	display: block;
}
#RS a{
	text-decoration: none;
	color: white;
	font-size: 20px;
} 
#RS a:hover{
	text-decoration: none;
	font-size: +4;
	color: rgba(165, 165, 165, 1.0);

} 

.fa {
	text-align: center;
	margin: 5px ;
	padding: 20px; 
	width: 20px;
	font-size: 30px;
	text-align: center;
	margin-right: 50px;
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid grey;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope{
  background: #FF7043;
  color: white;
}
.fa-phone{
  background: green;
  color: white;	
}

/*footer*/
footer {
  padding:40px 0;
  background-color: rgba(202, 207, 210, 1);
  color: black;
}

footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
 

}

footer li {
  padding:0 10px;
   display:inline-block;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

footer ul a:hover {
  opacity:1;
}

footer .social {
  text-align:center;
  padding-bottom:25px;
}

footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid black;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  text-decoration: none;
}

footer .social > a:hover {
  opacity:1;
}

footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:18px;
  color: black;
  margin-bottom:0;
}
